PORT=5000
MONGO_URI=mongodb+srv://Syedshahbaz:Syedshahbazsz@cluster0.c6jgeca.mongodb.net/eventoraaDEV?appName=Cluster0
JWT_SECRET=supersecretjwtkey_eventoraaSSS


EMAIL_USER=sjshahbaz1470@gmail.com
EMAIL_PASS=svrgqcjcbjtinwfc

RAZORPAY_KEY_ID=rzp_test_TIraZZqVIKALJB
RAZORPAY_KEY_SECRET=jRioerCQtMUr8ntkFSIEaG4z

CLOUDINARY_CLOUD_NAME=dejuvyun3
CLOUDINARY_API_KEY=873746876915282
CLOUDINARY_API_SECRET=b9uZ05N9cyrSyjzr0x0xJJEIfbc